<div class="container mt-3 mx-auto">
  <div class="row justify-content-around">
    <div class="col-4 text-center">
      <h3 class="font-weight-bold text-center">Create New Group</h3>
      <br>
      <p><em>"It is not in numbers, but in unity, that our great strength lies." <br>-Thomas Paine</em></p>
      <p>Ready to create a group that will help yourself and other fitness minded folk gain an edge in accountability and support?<br><br>You're in the right place! <br><br> Name your group, make sure to add the activity type your group will be focusing on, and go ahead and check the "senior" box if you're keen on starting a group for those aged 65 and older. Let's get movin'!!!</p>

      <br><br><%= link_to 'Back', groups_path, class: "btn btn-sm btn-warning" %>
    </div>


    <div class="col-5 mx-5">
      <%= render 'form', group: @group %>
    </div>
  </div>
</div>




