<p class="text-center" id="notice"><%= notice %></p>
<div class="container-fluid my-5">
  <div class="row justify-content-center">
    <div class="card" style="width: 40rem;">
      <h3 class="card-header bg-warning text-center font-weight-bold">
      <% if @post.postable_type == "User" %>
        <% user = User.find(@post.postable_id) %>
        <%= render "user_posts", user: user %>
      <% elsif @post.postable_type == "Group" %>
        <% group = Group.find(@post.postable_id) %>
        <%= render "group_posts", group: group%>
      <% end %>
    </div>
  </div>  
</div>






