/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.card-bg{
    background-color: rgb(242,242,242);
}

.avatar {
    height: 300px; 
    width: 300px; 
    max-width: 300px; 
    max-height: 300px;
}

.thumbnail {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.jumbotron {
    background-image: url('fistbump.png');
    background-size: 100% 100%;
    height: 15rem;
    opacity: 1;
}

.landing{
    height: 100px; 
    width: 10 rem; 
    max-width: 300px; 
    max-height: 300px;
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('PermanentMarker.ttf');
}

@font-face{
    font-family: 'barcadbold';
    src: url('barcadbold.ttf');
}

.barcad {
    font-family: 'barcadbold';
}

.perm {
    font-family: 'PermanentMarker';
}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}

.navbar-header {
    text-align: center;
}