.event-link {
  text-decoration: none;
}

.event-link:hover {
  color: #000;
  text-decoration: none;
}

.today-date {
  color: rgb(221, 95, 36)
}

.button_to {
  margin-right: 5px;
}

.event-img {
  width: 250px;
}
