// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
}
